stages:
  - test
  - build

variables:
  GO_VERSION: "1.22"

go-test:
  stage: test
  image: golang:${GO_VERSION}
  script:
    - go test ./...

go-build:
  stage: build
  image: golang:${GO_VERSION}
  script:
    - go build ./...


